# Default owner for the entire repo
*                   @raunakgurud09
# Frontend ownership
/spanfront/          @raunakgurud09

# Backend ownership
/corenode/           @raunakgurud09

# Root-level docs and configs
/README.md          @raunakgurud09
/.gitignore         @raunakgurud09
/CODEOWNERS         @raunakgurud09
